.i-phone-x-or-newer {
    // align-items: center;
    display: flex;
    height: 44px;
    overflow: hidden;
    padding: 0 14.3px;
    width: 375px;
}
.signal-bars {
    height: 12px;
    //left: 215px;
    position: relative;
    //position: absolute;
    //top: 19px;
    width: 18px;
}
.notch {
    height: 30px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 219px;
}
.overlap-group {
    align-self: flex-start;
    height: 31px;
    margin-left: 15px;
    margin-top: -2px;
    position: relative;
    width: 233px;
}

.wifi {
    height: 12px;
    // margin-left: 4px;
    // margin-top: 1.63px;
    width: 16px;
    position: relative;
}

.x941 {
    height: 12px;
    margin-top: 1.42px;
    width: 29px;
    position: absolute;
    left: 25px;
}

.NotificationBar {
    // background: black;
    width: 375px;
    display: flex;
    border-radius: 40px 40px 0 0;
}

.dark-screen {
    background-color:black;
    width: 384px;
    height: 820px;
    top: -5px;
    boxShadow: "3px 9px 3px #9E9E9E";
    border-radius: 40px;
    position: absolute;
    z-index: -1;
}

.battery {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    &-box {
        justify-content: space-between;
        background-size: 100% 100%;
        display: flex;
        height: 12px;
        margin-left: 4px;
        margin-top: 2px;
        min-width: 22px;
        padding: 2px 2px;
    }

    &-fill {
        height: 100%;
        width: 100%;
    }

    &-stub {
        height: 4px;
        margin-top: 2px;
        width: 2px;
    }
}

.bar-icons {
    display: flex;
    width: 50px;
    left: 295px;
    position: absolute;
    justify-content: space-between;
    align-items: center;
}

.phone-bezel {
    position: absolute;
    left: -109.9px;
    top: -26px;
}

.phone-camera {
    position: absolute;
    left: -109.9px;
    top: -26px;
    z-index: 9998!important;
}