@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Helvetica Neue-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/HelveticaNeue-Medium") format("truetype");
}

* {
  box-sizing: border-box;
}
.helveticaneue-medium-black-13px {
  color: black;
  font-family: "Helvetica Neue-Medium", Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.helveticaneue-regular-normal-white-16px {
  color: white;
  font-family: "Helvetica Neue-Regular", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.helveticaneue-regular-normal-white-19px {
  color: white;
  font-family: "Helvetica Neue-Regular", Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}
.home1 {
  align-items: flex-start;
  background-color: black;
  display: flex;
  height: 812px;
  justify-content: center;
  overflow: hidden;
  width: 375px;
}
.home1 .all-stores {
  left: 1098px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 474px;
}
.home1 .combined-shape {
  height: 4px;
  margin-top: 2px;
  width: 2px;
}
.home1 .frame-16 {
  align-items: flex-start;
  display: flex;
  height: 204px;
  left: 1084px;
  min-width: 375px;
  position: absolute;
  top: 469px;
}
.home1 .frame-17 {
  align-items: flex-start;
  display: flex;
  height: 204px;
  left: 1084px;
  min-width: 375px;
  position: absolute;
  top: 639px;
}
.home1 .frame-18 {
  align-items: flex-start;
  display: flex;
  height: 204px;
  left: 1084px;
  min-width: 375px;
  position: absolute;
  top: 808px;
}
.home1 .frame-19 {
  height: 206px;
  left: 542px;
  position: absolute;
  top: 975px;
  width: 1459px;
}
.home1 .frame-19-1 {
  height: 206px;
  left: 542px;
  position: absolute;
  top: 1144px;
  width: 1459px;
}
.home1 .frame-19-2 {
  height: 206px;
  left: 542px;
  position: absolute;
  top: 1313px;
  width: 1459px;
}
.home1 .frame-19-3 {
  height: 206px;
  left: 542px;
  position: absolute;
  top: 1482px;
  width: 1459px;
}
.home1 .frame-19-4 {
  height: 206px;
  left: 542px;
  position: absolute;
  top: 1651px;
  width: 1459px;
}
.home1 .frame-19-5 {
  height: 206px;
  left: 542px;
  position: absolute;
  top: 1820px;
  width: 1459px;
}
.home1 .group-112 {
  align-items: flex-start;
  background-color: white;
  border-radius: 13.5px;
  display: flex;
  height: 27px;
  justify-content: flex-end;
  left: 1236px;
  min-width: 70px;
  padding: 5px 8px;
  position: absolute;
  top: 423px;
}
.home1 .group-114 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 131px;
  justify-content: flex-end;
  left: 155px;
  min-width: 131px;
  padding: 53px 15px;
  position: absolute;
  top: 36px;
}
.home1 .group-115 {
  height: 25px;
  width: 101px;
}
.home1 .group-116 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 131px;
  justify-content: flex-end;
  left: 13px;
  min-width: 131px;
  padding: 58.3px 24.6px;
  position: absolute;
  top: 37px;
}
.home1 .group-121 {
  height: 23px;
  left: 170px;
  position: absolute;
  top: 92px;
  width: 101px;
}
.home1 .group-127 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  min-width: 82px;
}
.home1 .group-138 {
  align-items: flex-end;
  display: flex;
  height: 27px;
  justify-content: flex-end;
  left: 1313px;
  min-width: 28px;
  padding: 4.7px 8px;
  position: absolute;
  top: 423px;
}
.home1 .i-phone-x-or-newer {
  align-items: center;
  display: flex;
  height: 44px;
  left: 1084px;
  padding: 0 14.3px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.home1 .lorem-ipsum {
  left: 1098px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1152px;
}
.home1 .lorem-ipsum-1 {
  left: 1098px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1321px;
}
.home1 .lorem-ipsum-2 {
  left: 1098px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1490px;
}
.home1 .lorem-ipsum-3 {
  left: 1098px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1659px;
}
.home1 .lorem-ipsum-4 {
  left: 1098px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 1828px;
}
.home1 .mobile-signal {
  height: 12px;
  left: 215px;
  position: absolute;
  top: 19px;
  width: 18px;
}
.home1 .notch {
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 219px;
}
.home1 .overlap-group {
  height: 2026px;
  margin-top: -0px;
  position: relative;
  width: 1459px;
}
.home1 .overlap-group-1 {
  height: 206px;
  margin-top: -2px;
  position: relative;
  width: 1459px;
}
.home1 .overlap-group1 {
  align-self: center;
  height: 12px;
  margin-bottom: 1px;
  position: relative;
  width: 9px;
}
.home1 .overlap-group2 {
  height: 205px;
  margin-top: -0.36px;
  position: relative;
  width: 1459px;
}
.home1 .overlap-group5 {
  align-self: flex-start;
  height: 31px;
  margin-left: 15px;
  margin-top: -2px;
  position: relative;
  width: 233px;
}
.home1 .overlap-group6 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 12px;
  margin-left: 4px;
  margin-top: 2px;
  min-width: 22px;
  padding: 2px 2px;
}
.home1 .play-has-no-limits {
  left: 1106px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 325px;
}
.home1 .popular-on-omni {
  left: 1098px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 644px;
}
.home1 .recently-added {
  left: 1098px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 983px;
}
.home1 .rectangle {
  height: 204px;
  left: 118px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.home1 .rectangle- {
  background-color: black;
  height: 169px;
  left: 0px;
  opacity: 0.74;
  position: absolute;
  top: 0px;
  width: 1459px;
}
.home1 .rectangle-1 {
  height: 204px;
  left: 260px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-10 {
  height: 204px;
  left: 969px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.home1 .rectangle-11 {
  height: 204px;
  left: 1111px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.home1 .rectangle-12 {
  height: 204px;
  left: 1253px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.home1 .rectangle-13 {
  height: 132px;
  left: 296px;
  position: absolute;
  top: 36px;
  width: 132px;
}
.home1 .rectangle-14 {
  height: 204px;
  left: 401px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-15 {
  height: 204px;
  left: 684px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-16 {
  height: 204px;
  left: 826px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-17 {
  height: 204px;
  left: 967px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-18 {
  height: 204px;
  left: 1250px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-19 {
  height: 204px;
  left: 119px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-2 {
  height: 204px;
  left: 543px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-20 {
  height: 203px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 181px;
}
.home1 .rectangle-21 {
  height: 132px;
  left: 155px;
  position: absolute;
  top: 37px;
  width: 132px;
}
.home1 .rectangle-22 {
  height: 132px;
  left: 13px;
  position: absolute;
  top: 37px;
  width: 132px;
}
.home1 .rectangle-23 {
  height: 132px;
  left: 296px;
  position: absolute;
  top: 37px;
  width: 132px;
}
.home1 .rectangle-24 {
  height: 204px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 181px;
}
.home1 .rectangle-25 {
  height: 204px;
  left: 120px;
  position: absolute;
  top: 2px;
  width: 203px;
}
.home1 .rectangle-26 {
  height: 204px;
  left: 261px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-27 {
  height: 204px;
  left: 402px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-28 {
  background-color: black;
  height: 168px;
  left: 0px;
  opacity: 0.74;
  position: absolute;
  top: 0px;
  width: 1459px;
}
.home1 .rectangle-29 {
  height: 204px;
  left: 685px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-3 {
  height: 204px;
  left: 1109px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-30 {
  height: 204px;
  left: 827px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-31 {
  height: 204px;
  left: 969px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-32 {
  background-color: white;
  height: 17px;
  margin-left: 5px;
  width: 3px;
}
.home1 .rectangle-33 {
  background-color: white;
  height: 17px;
  width: 3px;
}
.home1 .rectangle-34 {
  height: 204px;
  left: 1252px;
  position: absolute;
  top: 2px;
  width: 204px;
}
.home1 .rectangle-35 {
  height: 132px;
  left: 13px;
  position: absolute;
  top: 38px;
  width: 132px;
}
.home1 .rectangle-36 {
  height: 132px;
  left: 155px;
  position: absolute;
  top: 38px;
  width: 132px;
}
.home1 .rectangle-37 {
  height: 132px;
  left: 296px;
  position: absolute;
  top: 38px;
  width: 132px;
}
.home1 .rectangle-38 {
  height: 8px;
  width: 18px;
}
.home1 .rectangle-4 {
  height: 204px;
  left: 260px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.home1 .rectangle-5 {
  height: 204px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 181px;
}
.home1 .rectangle-6 {
  height: 204px;
  left: 401px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.home1 .rectangle-7 {
  height: 204px;
  left: 543px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.home1 .rectangle-8 {
  height: 204px;
  left: 685px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.home1 .rectangle-9 {
  height: 204px;
  left: 827px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.home1 .shop {
  letter-spacing: 0px;
  margin-left: 5px;
  min-height: 16px;
  min-width: 34px;
  text-align: left;
}
.home1 .stores-nearby {
  left: 1098px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 813px;
}
.home1 .text-1 {
  left: 1106px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 366px;
}
.home1 .vector {
  height: 188px;
  left: 1084px;
  position: absolute;
  top: 294px;
  width: 375px;
}
.home1 .vector-1 {
  height: 3px;
  left: 1269px;
  position: absolute;
  top: 283px;
  width: 15px;
}
.home1 .vector-10 {
  height: 10px;
  left: 1212px;
  position: absolute;
  top: 434px;
  width: 6px;
}
.home1 .vector-11 {
  height: 3px;
  left: 1214px;
  position: absolute;
  top: 431px;
  width: 4px;
}
.home1 .vector-12 {
  height: 132px;
  left: 438px;
  position: absolute;
  top: 36px;
  width: 132px;
}
.home1 .vector-13 {
  height: 132px;
  left: 579px;
  position: absolute;
  top: 36px;
  width: 132px;
}
.home1 .vector-14 {
  height: 132px;
  left: 721px;
  position: absolute;
  top: 36px;
  width: 132px;
}
.home1 .vector-15 {
  height: 132px;
  left: 863px;
  position: absolute;
  top: 36px;
  width: 132px;
}
.home1 .vector-16 {
  height: 132px;
  left: 1005px;
  position: absolute;
  top: 36px;
  width: 132px;
}
.home1 .vector-17 {
  height: 132px;
  left: 1147px;
  position: absolute;
  top: 36px;
  width: 132px;
}
.home1 .vector-18 {
  height: 132px;
  left: 1289px;
  position: absolute;
  top: 36px;
  width: 132px;
}
.home1 .vector-19 {
  height: 13px;
  left: 338px;
  position: absolute;
  top: 97px;
  width: 16px;
}
.home1 .vector-2 {
  height: 15px;
  left: 1275px;
  position: absolute;
  top: 277px;
  width: 3px;
}
.home1 .vector-20 {
  height: 14px;
  left: 355px;
  position: absolute;
  top: 96px;
  width: 11px;
}
.home1 .vector-21 {
  height: 14px;
  left: 325px;
  position: absolute;
  top: 96px;
  width: 12px;
}
.home1 .vector-22 {
  height: 13px;
  left: 389px;
  position: absolute;
  top: 97px;
  width: 10px;
}
.home1 .vector-23 {
  height: 14px;
  left: 377px;
  position: absolute;
  top: 96px;
  width: 11px;
}
.home1 .vector-24 {
  height: 9px;
  left: 335px;
  position: absolute;
  top: 110px;
  width: 37px;
}
.home1 .vector-25 {
  height: 13px;
  left: 367px;
  position: absolute;
  top: 96px;
  width: 10px;
}
.home1 .vector-26 {
  height: 8px;
  left: 367px;
  position: absolute;
  top: 109px;
  width: 8px;
}
.home1 .vector-27 {
  height: 15px;
  margin-bottom: -0.27px;
  width: 17px;
}
.home1 .vector-28 {
  height: 16px;
  margin-bottom: -0.86px;
  margin-left: 2px;
  width: 20px;
}
.home1 .vector-29 {
  height: 14px;
  margin-bottom: -0.13px;
  width: 21px;
}
.home1 .vector-3 {
  height: 28px;
  left: 1105px;
  position: absolute;
  top: 284px;
  width: 33px;
}
.home1 .vector-30 {
  height: 14px;
  margin-bottom: -0.09px;
  width: 20px;
}
.home1 .vector-31 {
  height: 132px;
  left: 438px;
  position: absolute;
  top: 37px;
  width: 132px;
}
.home1 .vector-32 {
  height: 132px;
  left: 579px;
  position: absolute;
  top: 37px;
  width: 132px;
}
.home1 .vector-33 {
  height: 132px;
  left: 721px;
  position: absolute;
  top: 37px;
  width: 132px;
}
.home1 .vector-34 {
  height: 132px;
  left: 862px;
  position: absolute;
  top: 37px;
  width: 132px;
}
.home1 .vector-35 {
  height: 132px;
  left: 1004px;
  position: absolute;
  top: 37px;
  width: 131px;
}
.home1 .vector-36 {
  height: 132px;
  left: 1145px;
  position: absolute;
  top: 37px;
  width: 132px;
}
.home1 .vector-37 {
  height: 132px;
  left: 1286px;
  position: absolute;
  top: 37px;
  width: 132px;
}
.home1 .vector-38 {
  height: 19px;
  left: 36px;
  position: absolute;
  top: 94px;
  width: 19px;
}
.home1 .vector-39 {
  height: 14px;
  left: 88px;
  position: absolute;
  top: 96px;
  width: 13px;
}
.home1 .vector-4 {
  height: 26px;
  left: 1183px;
  position: absolute;
  top: 286px;
  width: 40px;
}
.home1 .vector-40 {
  height: 14px;
  left: 78px;
  position: absolute;
  top: 96px;
  width: 11px;
}
.home1 .vector-41 {
  height: 14px;
  left: 101px;
  position: absolute;
  top: 96px;
  width: 10px;
}
.home1 .vector-42 {
  height: 13px;
  left: 65px;
  position: absolute;
  top: 97px;
  width: 13px;
}
.home1 .vector-43 {
  height: 14px;
  left: 57px;
  position: absolute;
  top: 96px;
  width: 11px;
}
.home1 .vector-44 {
  height: 14px;
  left: 111px;
  position: absolute;
  top: 96px;
  width: 11px;
}
.home1 .vector-45 {
  height: 7px;
  left: 42px;
  position: absolute;
  top: 100px;
  width: 7px;
}
.home1 .vector-46 {
  height: 22px;
  left: 320px;
  position: absolute;
  top: 79px;
  width: 20px;
}
.home1 .vector-47 {
  height: 23px;
  left: 325px;
  position: absolute;
  top: 102px;
  width: 21px;
}
.home1 .vector-48 {
  height: 22px;
  left: 340px;
  position: absolute;
  top: 79px;
  width: 18px;
}
.home1 .vector-49 {
  height: 23px;
  left: 345px;
  position: absolute;
  top: 102px;
  width: 20px;
}
.home1 .vector-5 {
  height: 29px;
  left: 1142px;
  position: absolute;
  top: 284px;
  width: 39px;
}
.home1 .vector-50 {
  height: 14px;
  left: 383px;
  position: absolute;
  top: 114px;
  width: 21px;
}
.home1 .vector-51 {
  height: 24px;
  left: 357px;
  position: absolute;
  top: 78px;
  width: 19px;
}
.home1 .vector-52 {
  height: 23px;
  left: 364px;
  position: absolute;
  top: 102px;
  width: 24px;
}
.home1 .vector-53 {
  height: 22px;
  left: 374px;
  position: absolute;
  top: 79px;
  width: 19px;
}
.home1 .vector-54 {
  height: 132px;
  left: 438px;
  position: absolute;
  top: 38px;
  width: 132px;
}
.home1 .vector-55 {
  height: 132px;
  left: 579px;
  position: absolute;
  top: 38px;
  width: 132px;
}
.home1 .vector-56 {
  height: 132px;
  left: 721px;
  position: absolute;
  top: 38px;
  width: 132px;
}
.home1 .vector-57 {
  height: 132px;
  left: 863px;
  position: absolute;
  top: 38px;
  width: 132px;
}
.home1 .vector-58 {
  height: 132px;
  left: 1005px;
  position: absolute;
  top: 38px;
  width: 132px;
}
.home1 .vector-59 {
  height: 132px;
  left: 1145px;
  position: absolute;
  top: 38px;
  width: 132px;
}
.home1 .vector-6 {
  height: 25px;
  left: 1225px;
  position: absolute;
  top: 286px;
  width: 39px;
}
.home1 .vector-60 {
  height: 132px;
  left: 1288px;
  position: absolute;
  top: 38px;
  width: 132px;
}
.home1 .vector-61 {
  height: 40px;
  left: 57px;
  position: absolute;
  top: 87px;
  width: 44px;
}
.home1 .vector-62 {
  height: 13px;
  left: 78px;
  position: absolute;
  top: 76px;
  width: 11px;
}
.home1 .vector-63 {
  height: 30px;
  left: 181px;
  position: absolute;
  top: 90px;
  width: 81px;
}
.home1 .vector-64 {
  height: 22px;
  left: 349px;
  position: absolute;
  top: 97px;
  width: 22px;
}
.home1 .vector-65 {
  height: 35px;
  left: 361px;
  position: absolute;
  top: 75px;
  width: 45px;
}
.home1 .vector-66 {
  height: 22px;
  left: 372px;
  position: absolute;
  top: 97px;
  width: 14px;
}
.home1 .vector-67 {
  height: 22px;
  left: 334px;
  position: absolute;
  top: 97px;
  width: 14px;
}
.home1 .vector-68 {
  height: 22px;
  left: 319px;
  position: absolute;
  top: 97px;
  width: 14px;
}
.home1 .vector-69 {
  height: 136px;
  left: 1084px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.home1 .vector-7 {
  height: 9px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 9px;
}
.home1 .vector-70 {
  height: 13px;
  left: 1426px;
  position: absolute;
  top: 65px;
  width: 11px;
}
.home1 .vector-71 {
  height: 20px;
  left: 1421px;
  position: absolute;
  top: 60px;
  width: 20px;
}
.home1 .vector-72 {
  height: 18px;
  left: 1104px;
  position: absolute;
  top: 62px;
  width: 17px;
}
.home1 .vector-73 {
  height: 17px;
  left: 1258px;
  position: absolute;
  top: 62px;
  width: 12px;
}
.home1 .vector-74 {
  height: 17px;
  left: 1273px;
  position: absolute;
  top: 62px;
  width: 12px;
}
.home1 .vector-75 {
  height: 17px;
  left: 1288px;
  position: absolute;
  top: 62px;
  width: 12px;
}
.home1 .vector-76 {
  height: 17px;
  left: 1244px;
  position: absolute;
  top: 62px;
  width: 11px;
}
.home1 .vector-8 {
  height: 6px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 5px;
}
.home1 .vector-9 {
  height: 20px;
  left: 1205px;
  position: absolute;
  top: 427px;
  width: 20px;
}
.home1 .wifi {
  height: 12px;
  margin-left: 4px;
  margin-top: 1.63px;
  width: 16px;
}
.home1 .x941 {
  height: 12px;
  margin-top: 1.42px;
  width: 29px;
}
.home1 .y2mate-com-o-limits-1 {
  height: 372px;
  left: 1084px;
  position: absolute;
  top: 97px;
  width: 375px;
}
.sourcecodepro-normal-white-20px {
  color: white;
  font-family: "Source Code Pro", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
