.all-stores {
    left: 13.51px;
    top: 466px;
}

.row-title {
    font-family: Menlo;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 25.14px;
    color: #FFFFFF;
    position: absolute;
    width: 267.69px;
    height: 20px;
}